.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-form-2{
    padding: 5%;
    background: #2062AD;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    color: #fff;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #2062AD;
}
.login-form-2 .btnSubmit{
    font-weight: 600;
    color: #2062AD;
    background-color: #fff;
}
.login-form-2 .SRegistro{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.login-form-1 .SRegistro{
    color: #2062AD;
    font-weight: 600;
    text-decoration: none;
}

.alert{
    border-radius: 0;
    text-align: center;
    margin-bottom: 0;
    font-weight: bold;
    padding: 20px;
    font-size: 18px;
}

.alert.alert-success{
    border:2px solid #155724;
}

.alert.alert-warnig{
    border:2px solid #b32e2e;
}

.alert p{
    margin-bottom: 0;
}
.outro{
    text-align: center;
}
#link-outro{
    display: flex;
    color: #000;
}