*{
    margin: 0 ;
    padding: 0;
}
nav{
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
}
.menu-btn img{
    margin: 1vh;
    width: 15%;
    cursor: pointer;
}
nav ul{
    position: fixed;
    left: -100%;
    transition: all 0.3s ease;
    background-color: #c2c2c2;
    text-align: center;
    padding: 2vh;
    display: block;
    list-style: none;
}
nav ul.open{
    width: 100%;
    left: 0;
}
nav ul li{
    text-align: center;
    padding-top: 4vh;
}
nav ul li a{
    color: #FFF;
    padding: 2vh;
    text-decoration: none;
    font-size: 3vh;
    font-weight: 500;
    border-radius: 5px;
    transition: all 0.3s ease;
}
nav ul li a:hover{
    color: #2062AD;
    background-color: #c2c2c2;
}
